
a:visited{
  color:black;
}

.title {
  font-family: 'Tangerine';
  font-size: 3.5em;
  padding-bottom: 1%;
}
.container-fluid {
  padding: 0 10% 0 10%;
}

.navbar {
  padding: 0 0 4.5rem;
  font-size: 1.1rem;
}
.navbar .brand {
  font-family: 'Tangerine';
  font-size: 2em;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 1.1rem;
}

.heroContainer {
  background-image: url("../src/assets/tropz.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center left;
  object-fit: cover;
  object-position: 80% 0%;
}
.heroName {
  font-family: 'Tangerine';
  font-weight: 800;
  font-size: 6em;
  color: white;
  

}
.special {
  display:none;
}

.rowina {
  padding-top: 10%; 
}

.new {
  width: 100%;
  height: 68vh;
}

.wedd {
  background-image: url("../src/assets/quote_bkgrnd.png");
  height: 70vh;
  background-size: cover;
  background-position: center right;

}

